/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	overflow-y: scroll;
	font-family: Helvetica, sans-serif;
	color: rgb(51,51,51);
	background-color: #F2F2F2;
} 
 
table {border-spacing:5pt;}
table th .current {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}
table td.withBorders { border-top: 1px solid silver; }
table th .asc {
	background-image: url(/assets/arrow_up.png);
}
table th .desc {
	background-image: url(/assets/arrow_down.png);
}
.fullscreen{
	float:right;
	margin-top: -60px;
}
.new-button{
	float:left;
	margin-right: 3px;
	margin-top: 2px;
}
.movierow{
	list-style:none;
	padding-top:10px;
	clear:left;
}
.movieheader{
	padding: 5px;
	margin-bottom: 5px;
	background-color: #F2F2F2;
}
.movietitle{
	display:inline;
}
.movierating{
	display:inline;
	float:right;
	margin-left:5px;
	margin-top: -1px;
}
.moviedetails{
	margin-left:130px;
}
.movieplot{
	margin-bottom: 5px;
}
.star{
	float:left;
	margin-left: -25px;
}
.movielist{
	list-style: none;
}
.cover{
	margin-right: 5px;
	float: left;
	width: 120px;
}
ul.movieinfo{
	list-style:none;
	margin-left: -10px;
}
a:link, a:visited{
	text-decoration: none;
}
 
.links a:link,.links a:visited{
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	text-decoration: none;
}

.sidebar-nav{
	width: 300px;
}

p {
	margin-top: 1em;
}

footer{
	margin-top: 50px;
}

.nav-collapse li:hover #accountlist { display: block;}

#account {background-color: rgb(34,34,30);width: 140px;text-align:right; float:right;border-right: 1px solid #F5F5F5;border-left: 1px solid #F5F5F5;}

#accountlist { text-align:left; width: 140px;background-color: rgb(34,34,30);  display: none; position: absolute; padding-top: 2px;  }
#accountlist .sub li { display:block; }
#accountlist .sub li a { padding: 4px; height: 100%; color: rgb(147, 147, 147); display: block; padding: 3px 6px;   }
#accountlist .sub li a:hover {color: rgb(255, 255, 255);text-decoration: none; } 
#filter_name {margin-left: 1em;}
#nav li.account {border-right: 1px solid white;} 
