/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	overflow-y: scroll;
	font-family: Helvetica, sans-serif;
	color: rgb(51,51,51);
	background-color: #F2F2F2;
} 
 
table {border-spacing:5pt;}
table th .current {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}
table td.withBorders { border-top: 1px solid silver; }
table th .asc {
	background-image: url(/assets/arrow_up.png);
}
table th .desc {
	background-image: url(/assets/arrow_down.png);
}
.movierow{
	list-style:none;
	padding-top:10px;
	clear:left;
}
.movieheader{
	padding: 5px;
	margin-bottom: 5px;
	background-color: #F2F2F2;
}
.movietitle{
	display:inline;
}
.movierating{
	display:inline;
	float:right;
}
.moviedetails{
	margin-left:130px;
}
.movieplot{
	margin-bottom: 5px;
}
.star{
	float:left;
	margin-top: 10px;
	margin-left: -25px;
}
.movielist{
	list-style:none;
}
.cover{
	margin-right: 5px;
	float:left;
	width: 120px;
}
ul.movieinfo{
	list-style:none;
	margin-left: -10px;
}
a:link, a:visited{
	padding: 5px;
	margin-right: 10px;
	color: #666666;
	text-decoration: none;
}
 
.links a:link,.links a:visited{
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	color: #666666;
	text-decoration: none;
}

.sidebar-nav{
	width: 300px;
}

p {
	margin-top: 1em;
}

footer{
	margin-top: 50px;
}


